body {
	background-color: #FFF5E4;
	line-height: inherit;
	margin: 0;
}

#header {
	text-align: center;
	background-image: url(BannerZAI.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 60%;
	color: whitesmoke;
}

.title{
	display: inline-block;
	margin:10% 10% 10% 10%;
	background-color: rgb(183, 147, 151, 0.5) ;
}

.nav {
	display: flex;
	padding: 2rem;
}

.nav-item {
	margin:0 3% 0 3%;
	padding: 1rem;
	background-color: white;
	border-radius: 25px;
	border: solid 1px #755659 ;
	text-align: center;

	transition-duration: 0.3s;
  	cursor: pointer;
}

.nav-item:hover {
  color:ghostwhite;
  background-color: #755659;
}

.index {
	margin-left: 5%;
	margin-right: 5%;
	background-color: #b79397;
	padding: 0.1rem;
	margin-top: 1rem;
}

.indexcontext {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display: flex;
}

.notlink {
	text-decoration: none;
	color: black;
	background-color: white;
	border-radius: 25px;
	border: solid 1px #755659 ;
	padding: 0.4rem;
	cursor: pointer;
	transition-duration: 0.1s;
	margin-right: 0.5rem;
}

.notlink:hover{
	color:ghostwhite;
	background-color: #755659;
}

.post-box {
	margin: 2rem 1rem 2rem 1rem;
	width: 94%;
	background-color: white;
	padding: 0.5rem;
	border-radius: 25px;
	border: solid 1px #755659 ;
}
